@media only screen and (max-width: 767px){
    .pagenotfound{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        
       }
       
       .pagenotfound .navbar-brand{
         color: #152e45;
         font-weight: 700;
       }
       
       
       .pagenotfound .imgbg {
         width: 100%;
         background-image: url(https://res.cloudinary.com/ilove2support/image/upload/v1680379924/Front-end/pancake_utkssw.png);
         background-size: cover;
         background-position: center;
         width: 100%;
         height: 100%;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         
       
        
       }
       
       
       
       .imgbg .navbar {
           width: 90%;
           margin: 0 auto;
           margin-top: 2rem;
           background-color: #ffffff;
         }
       
         .imgbg .navbarLogo i{
           color: #152e45;
           margin: 2px;
         }

         .pagenotfound .oops {
            margin-top: 5rem;
            margin-bottom: 7rem;
            color: #ffffff;
            text-align: center;
            width: 70%;
         }

         .pagenotfound .oops button{
            background-color: #fed600;
            border: none;
            border-radius: 10px;
            width: 13rem;
            height: 3rem;
            font-weight: 400;
            color: #022c4a;
         }

         .pagenotfound .templates{
            background-color: #152e45;
            display: flex;
            flex-direction: column;
            color: #ffffff;
             padding-top: 5rem;
             align-items: center;
             width: 100%;
             height: auto;
           
          }
        
          .templates .subTemplates{
            width: 70%;
            border: none;
            border-bottom: 1px solid #ffffff;
        
          }    
          .templates .nursee,
          .Navigation,.quick-link,
          .services{
            padding-top: 3rem;
            list-style: none;
            padding-bottom: 2rem;
          }
        
         .templates li{
          list-style: none;
         }
        
         
}


























@media screen and (min-width: 1024px){
    .pagenotfound {
        display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       width: 100%;
       height: auto;
      }
      
      
      .pagenotfound .navbar-brand{
        color: #152e45;
        font-weight: 700;
      }
      
      
      .pagenotfound .imgbg {
        width: 100%;
        background-image: url(https://res.cloudinary.com/ilove2support/image/upload/v1680379924/Front-end/pancake_utkssw.png);
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      
      .imgbg .navbar {
        width: 90%;
        margin: 0 auto;
        height: 5rem;
        border-radius: 10px;
        margin-top: 2rem;
        background-color: #ffffff;
       
      }
      .imgbg .navbar-collapse{
        margin-left: 20%;
      
      }
      
      .imgbg .navbar-collapse ul{
        padding-left:0 30%;
      }
      .imgbg .navbarLogo i{
        color: #152e45;
        margin: 10px;
      }

     .pagenotfound .oops{
          color: #ffffff;
          text-align: center;
          margin-top: 6rem;
          margin-bottom: 6rem;
          width: 50%;
      }

      .pagenotfound .oops h1{
       font-size: 8rem;
       font-weight: 700;

      }

      .pagenotfound .oops h5{
        font-weight: 700;
        font-size: 2.6rem;
    
      }
      .pagenotfound .oops p{
        
        padding-left: 8rem;
      }

      .pagenotfound .oops button{
        background-color: #fed600;
        border: none;
        border-radius: 10px;
        width: 13rem;
        height: 3rem;
        font-weight: 400;
        color: #022c4a;
      }

      .pagenotfound .templates{
        background-color: #152e45;
        display: flex;
        flex-direction: column;
        color: #ffffff;
         padding-top: 5rem;
         justify-content: center;
         align-items: center;
         width: 100%;
      }
      
      .pagenotfound .subTemplates{
        display: flex;
        border: none;
        border-bottom: 1px solid #ffffff;
        height: 35vh;
      }
      
      
      .nursee {
        flex: 2;
        padding: 20px;
        margin-right: 10px;
      }
      
      .templates .nursee span{
        margin-top: 3rem;
      }
      
      .Navigation,
      .quick-link,
      .services {
        flex: 1;
        padding: 20px;
        margin-right: 10px;
      }
      
      .Navigation,
      .quick-link {
        margin-right: 0;
      }
      
      .subTemplates h6 {
        margin-bottom: 10px;
      }
      
      .subTemplates ul {
        padding: 0;
        margin: 0;
        list-style: none;
      }
      
      .subTemplates ul li {
        margin-bottom: 5px;
      }
      
      .subTemplates span {
        display: block;
        margin-top: 10px;
      }
      
      .subTemplates .fa-solid,
      .fa-brands {
        margin-right: 5px;
        color: #ffd700;
      }
      
      .templates .final{
        margin-top: 2rem;
      }




      
}