@media only screen and (max-width: 767px){
    #gmap_canvas{
        width: 100%;
        height: 50vh;
        margin-bottom: 5rem;
        
    }
}

@media screen and (min-width: 1024px){
    #gmap_canvas{
        width: 90%;
        height: 50vh;
        margin-bottom: 5rem;
        
    }
}